

<%= form_for @song do |f| %>
  <li><%= f.label :title %></li>
  <%= f.text_field :title %>
  <li><%= f.label :artist_name %></li>
  <%= f.text_field :artist_name %>
  <li><%= f.label :genre %></li>
  <%= f.text_field :genre %>
  <li><%= f.label :released %></li>
  <%= f.check_box :released %>
  <li><%= f.label :release_year %></li>
  <%= f.number_field :release_year %>
  <%= f.submit %>
<% end %>
