<h1>Edit Song</h1>
<%= form_for (@song) do |f| %>

<% if @song.errors.any? %>
  <% @song.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

Title:  <%= f.text_field :title %>
Released (true/false):  <%= f.check_box :released %>
Year Released:  <%= f.text_field :release_year %>
Artist's Name:  <%= f.text_field :artist_name %>
Genre Name:  <%= f.text_field :genre %>
  <%= f.submit %>
<% end %>
