
<table style="width:100%">
  <thead>
    <th>Title</th>
    <th>Artist Name</th>
    <th>Release Year</th>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
        <tr>
          <td><%= link_to song.title, song_path(song) %></td>
          <td><%= song.artist_name %></td>
          <td><%= song.genre %></td>
          <td><%= song.release_year %></td></tr>
          <td><%= link_to "delete", song, :method => :delete, data: {:confirm => "Really?"} %></tr>
        </tr>
      <% end %>
  </tbody>
</table>
