<!DOCTYPE html>
<html>
    <head>
        <title>Green Linings Song Book</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Title</th>
                <th>Released</th>
                <th>Release Year</th>
                <th>Artist Name</th>
                <th>Genre</th>
            </tr>
            <% @songs.each do |song| %>
                <tbody>
                <tr>
                    <td><%= song.title %></td>
                    <td><%= song.released %></td>
                    <td><%= song.release_year %></td>
                    <td><%= song.artist_name %></td>
                    <td><%= song.genre %></td>
                    <td id="delete_td"><%= button_to "Delete", song, method: :delete %></td>
                </tr>
                </tbody>
            <% end %>
        </table>
    </body>
</html>